.header1 {
 
 
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.header2 {
 
  
  font-size: 3.5rem;
  font-weight: 300;
 
}
.header3 {
  text-align: center;
  font-size: 3rem;

  text-transform: uppercase;
  text-shadow: 0rem 1rem 1rem rgba(#000, 0.4);
  @media screen and(max-width: $bp-small) {
    font-size: 4rem;
  }
  @media screen and(max-width: $bp-smallest) {
    font-size: 3rem;
  }
}
.header-3:hover {
  transform: translateY(-1rem) scale(1.1);
  transition: all 0.5s;
}

.header-4 {
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-shadow: 0rem 1rem 1rem rbga(#000, 0.4);

  @media screen and(max-width: $bp-smallest) {
    font-size: 2rem;
  }
}
