.root {
  --primary-color: #b71c1c;
  --primary-white-text-large: rgba(#eee, 0.58);
  --primary-white-text: rgba(#eee, 0.79);
  --primary-black-text-large: rgba(#000, 0.86);

  --primary-light: #f05545;
  --primary-light-white-text-large: rgba(#eee, 0.89);
  --primary-light-black-text-large: rgba(#000, 0.53);
  --primary-light-dark-text: rgba(#000, 0.73);

  --primary-dark: #7f0000;
  --primary-dark-white-text-large: rgba(#eee, 0.45);
  --primary-dark-white-text: rgba(#eee, 0.6);

  --secondary-color: #de2828;
  --secondary-white-text-large: rgba(#eee, 0.72);
  --secondary-white-text: rgba(#eee, 0.97);
  --secondary-black-text-large: rgba(#000, 0.62);

  --secondary-light: #ff6252;

  --secondary-light-black-text-large: rgba(#000, 0.51);
  --secondary-light-black-text: rgba(#000, 0.68);

  --secondary-dark: #a40000;
  --secondary-white-text-large: rgba(#eee, 0.54);
  --secondary-white-text: rgba(#eee, 0.71);

  --action-color: (rgb(134, 0, 158) 0.9);
  --action-color-hover: rgba(134, 0, 158, 0.5);

  --light-gray: rgb(160, 160, 160);
  --dark-gray: rgb(190, 190, 190);
}
