.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 10vh;
  background-color: rgba(0,0,0,0.05);
  color: black;
  &-container{  
    width: 100%;
    color: white;
  }
  &-copyright {
    font-size: 2rem;
    grid-column: 2/ span 1;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  


  &-contact {
    grid-column: 4/ span 1;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
    &-item{
      margin: 0rem 2rem;
      transition: all .3s;

      @media screen and(max-width: $bp-smallest){
        transform: scale(.7);
      
    }
    }
  &-item:hover{
    margin: 0rem 2rem;
    transform: translateY(-1.0rem) scale(1.1);
    

  }    
  }

}