.intro {
  margin: 1rem auto;
  align-items: stretch;
  justify-content: space-between;
  min-height: 80vh;
  position: relative;
  display: flex;

  &_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 5rem;

    &-logo {
      margin-right: auto;
      margin-bottom: 4rem;
      flex: 0 0 10%;
    }
    &-logo img {
      height: 10rem;
      width: 10rem;
    }
  }
  &_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    overflow: hidden;
    &-content {
      width: 100%;
      object-fit: cover;
    }
  }

  ////////////////////////////////////
  // BIO

  &_bio {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    flex: 0 0 60%;

    &-main {
      display: flex;
    }

    &-profile-pic {
      width: 20rem;
      height: 20rem;
      border: none;
      border-radius: 50%;
    }

    &-contact-nav {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      margin-top: 4rem;
  
  
      &-icon {
        fill: white;
        transition: all .3s;
        
        &:hover{
          transform: translateY(-1rem) scale(1.3);

        }
      }
    }
  }
}
