.intro {
  margin: 1rem auto;
  align-items: stretch;
  justify-content: space-between;
  min-height: 80vh;
  position: relative;
  display: flex;
  

  &_info {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 2rem;
    &-logo {
      margin-right: auto;
      margin-bottom: 4rem;
      flex: 0 0 10%;

    }
    &-logo img {
      height: 10rem;
      width: 10rem;
      
    }
  }
  &_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    overflow: hidden;
    &-content {
      width: 100%;
      object-fit: cover;
    }
  }

  &_bio {
   display: flex;
   flex-direction: column;

    padding: 5rem;
    flex: 0 0 50%;
    &-profile-pic{
      align-self: flex-end;
      height:300px;
      width: 300px;
      border-radius: 50%;
      border: none;
    
    }
  }
}
