.intro {
  min-height: 95vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;

  @media screen and(max-width: $bp-largest) {
    justify-content: center;
    max-width: 100%;
    margin: 0rem;
    min-height: 50vh;
  }
  @media screen and(max-width:$bp-large) {
    min-height: 46vh;
  }
  @media screen and(max-width:$bp-med) {
    min-height: 38vh;
  }
  @media screen and(max-width: $bp-small) {
    padding: 0rem;
    margin-top: 0rem;
  }
  @media screen and(max-width: $bp-smallest) {
    padding: 0rem;
  }
 
  &_info {

    grid-column: 1 / span 1;
    grid-row: 1/ span 2;
 
  @media screen and (max-width: $bp-largest) {
  }
  @media screen and (max-width: $bp-med) {
    padding: 0rem;
  }

  &-profile-pic {
   
    max-width: 100%;
    margin-top: 18rem;  
    margin-left: 2rem;
    border-radius: 20%;
 
   
    @media screen and(max-width: $bp-largest) {
      width: 20rem;
      height: 20rem;
    }
    @media screen and(max-width: $bp-small) {
      width: 10rem;
      height: 10rem;
    }
  }

  &-name{
    justify-self: center;
    align-self: center;
    line-height: 5rem;
  }


  &-profile-pic:hover {
    transform: translateY(-1rem);
    transition: all 0.3s;
  }
  }
  // &_video {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   z-index: -1;
  //   opacity: 0.9;
  //   overflow: hidden;
  //   &-content {
  //     min-width: 100%;
  //     min-height: 100%;
  //     width: auto;
  //     height: auto;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     object-fit: cover;
  //   }
  // }

  ////////////////////////////////////
  // BIO

  &_bio {
    grid-column: 2 / span 1;
    margin: -7rem 4rem;
    @media screen and (max-width: $bp-med) {
      padding: 0rem;
      margin-bottom: 4rem;
    }
    @media screen and(max-width: $bp-small) {
      padding: 0rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
    &-main{
      margin-top: 3rem;
      
     
    }
     &-text  {
       
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 4rem;
        margin: 4rem 3.5rem;
      }

    &-contact-nav {
      list-style: none;
      justify-content: space-evenly;
      margin-top: 4rem;
      display: flex; 

      @media screen and (max-width: $bp-small) {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      @media screen and(max-width: $bp-smallest) {
        transform: scale(0.7);
        margin-bottom: 2.1rem;
        margin-top: 1rem;
      }

      
      &-icon {
        fill: black;
        transition: all 0.3s;
       
        &:hover {
          transform: translateY(-1rem) scale(1.3);
        }
      }
    }
  }
  }

