.project-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 2rem;
  padding: 2rem;
  max-height: 90vh;

  @media screen and (max-width: $bp-largest) {
  }

  &-header {
    grid-column: 3 / span 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-size: 4rem;
    font-weight: 300;
  }

  &-container {
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 2 / span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
  }

  &-project {
    grid-row: span 1;
    background-color: rgba(0, 0, 0, 0.09);
    display: grid;
    border-radius: 3%;
    box-shadow: 0rem 1rem 5rem rgba(0,0,0, .5);

    &-top {
    }
    &-buttonContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      margin: 2rem 0;
    }

    &-img {
      max-width: 450px;
      min-height: 300px;
      height: auto;
      width: auto;
      border-radius: 4%;

      @media screen and(max-width: $bp-small) {
      }
      @media screen and(max-width: $bp-smallest) {
      }
    }

    &-description {
      text-align: center;
      font-size: 2rem;
      margin: 2rem auto;
      font-weight: 100;

      @media screen and(max-width: $bp-small) {
      }
    }

    &-button {
      transition: all 0.4s;
    }

    &-button:hover {
      transform: translateY(-1.1rem) scale(1.1);
    }
  }
}
