.project-section {
  margin-bottom: 2rem;
  padding: 2rem;

  width: auto;
  @media screen and (max-width: $bp-largest) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  &_container {
    display: flex;

    justify-content: space-between;
    @media screen and (max-width: $bp-largest) {
      flex-direction: column;
    }
    &-project {
      margin: 5rem 4rem;

      display: flex;
      flex-direction: column;
      border: 1px solid rgba(#000, 0.5);
      box-shadow: 0rem 1rem 2rem rgba(#000, 0.3);
      background-image: linear-gradient(
        0deg,
        var(--primary-color),
        var(--primary-light)
      );

      &-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin: 0rem auto;
      }
      &-buttonContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 5rem;
        justify-content: space-evenly;
      }

      &-img {
        max-width: 100%;
        max-height: auto;
        padding: 2rem;
        opacity: .9;
        margin: 2rem 2rem;
        background-size: cover;
        box-shadow: 0rem 1rem 1rem rgba(#000, 0.1);

        @media screen and(max-width: $bp-small) {
        }
          @media screen and(max-width: $bp-smallest){
        }
      }
      &-img:hover {
        transition: all 0.3s;
        transform: scale(1.05);
      }

      &-description {
        font-size: 2.5rem;
        font-weight: 200;
        text-align: center;
        margin: 3rem 1rem;
        color: white;
        line-height: 3rem;

          @media screen and(max-width: $bp-small){
            font-size: 1.4rem;
        }
      }

      &-button {
        transition: all 0.8s;
      }

      &-button:hover {
        transform: translateY(-1.1rem) scale(1.1);
      }
    }
  }
}
