.skills {
  height: 100vh;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(221, 221, 221);

  @media screen and(max-width: $bp-largest) {
    height: 102vh;
    margin-top: -3rem;
  }
  @media screen and (max-width: $bp-med) {
    height: 80vh;
  }
  @media screen and(max-width: $bp-small) {
    height: 130vh;
  }

  &-top {
    grid-column: span 4;
    justify-self: center;
    align-self: center;
    margin-top: -17rem;
  }

  &-header {
    font-size: 3rem;
    font-weight: 00;
    line-height: 2rem;
    justify-self: center;
    margin-top: 4rem;
  }
  &-filter {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  &-button {
    justify-content: space-evenly;
  }

  &-skill-box {
    height: 70vh;
    background-color: #fff;
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
    margin: 0rem 3rem;
    border-radius: 2%;
    display: grid;
    grid-template-columns: 1fr;

    &-paper {
      grid-column: span 2;
      display: grid;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
      margin: 2rem 4rem;

      grid-template-columns: 1fr 1fr 6fr;

      align-items: start;
    }
    &_skill {
      grid-column: span 1;
    }
    &_level {
      grid-column: 3 / span 1;
      margin: 1rem 3rem;
      height: 100%;
      margin-top: 0rem;

    }
    &_skill-icon {
      display: grid;

      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 1fr;
      justify-items: center;
      align-self: stretch;
      align-items: center;
      margin: 0rem 2rem;
    }

    &--list-skill {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--text {
      font-size: 2.8rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 1.5rem 1rem;
      text-shadow: 0rem 1rem 1rem rgba(#000, 0.2);
      transition: all 0.8s;
      @media screen and(max-width: $bp-small) {
        font-size: 2rem;
      }
    }
  }
}
