.skills {
  // height: 100vh;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr .5fr;
  background-color: rgb(221, 221, 221);

  @media screen and(max-width: $bp-largest) {
    height: 102vh;
    margin-top: -3rem;
  }
  @media screen and (max-width: $bp-med) {
    height: 80vh;
  }
  @media screen and(max-width: $bp-small) {
    height: 130vh;
  }

  &-top {
    grid-column:  2 / span 1;
    justify-self: center;
    align-self: center;
   
  }

  &-header{
    margin-bottom: 8rem;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-filter {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr); 
   
  }
  &-button {
    justify-content: space-evenly;
      -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
      box-shadow:inset 1px 1px 0px 0px #ffffff;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
      background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
      background-color:#ffffff;
      -moz-border-radius:22px;
      -webkit-border-radius:22px;
      border-radius:22px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-family:Times New Roman;
      font-size:18px;
      font-weight:bold;
      font-style:italic;
      padding:13px 59px;
      text-decoration:none;
      text-shadow:0px 0px 0px #ffffff;
      font-weight: 200;
    }
    &-button:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
      background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
      background-color:#f6f6f6;
    }
    &-button:active {
      position:relative;
      top:1px;
    }
    
 &-button:focus{
 	outline:0;
 } 

  &-skill-box {

    background-color: #fff;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    grid-template-columns: 1fr;
    border-radius: 2%;
  
    
    

    &-paper {
      
      display: grid;
      grid-template-columns: .1fr 2fr;
      align-items: start;
      

      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
      margin: 2rem 4rem;
     
    }
    &_skill {
      grid-column: span 1;
    }
    &_level {
      display: grid;
      grid-column: 2 / span 1;
      align-items: center;
      grid-template-columns: .2fr 1fr;


      margin: 1rem 3rem;
      height: 100%;
      margin-top: 0rem;
     

    }
    &_skill-icon {
      display: grid;

      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 1fr;
      justify-items: center;
      align-self: stretch;
      align-items: center;
      margin: 0rem 2rem;
      margin-bottom: -8rem;
    }
    &_db-icons{
      grid-template-rows: repeat(4,1fr);
      margin-bottom: 3rem;
    }

    &_tools-icons{
      grid-template-rows: repeat(8, 1fr);
     margin-bottom: -5rem;
    }

    &--list-skill {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--text {
      font-size: 2.8rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 1.5rem 1rem;
      text-shadow: 0rem 1rem 1rem rgba(#000, 0.2);
      transition: all 0.8s;
      @media screen and(max-width: $bp-small) {
        font-size: 2rem;
      }
    }
  }
}
